@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jura:wght@300..700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "loader.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

#app {
  height: 700px;
  width: 400px;
  // background-color: #1e1e1e;
  background-image: linear-gradient(to bottom, #2c2c2c, #858585);
}

.weather-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // background-image: url("../forest-dark.jpg");
  //   background: url("../forest-dark.jpg");
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //
}

.weather-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 20px 0px 30px;

  &__ovwerview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    width: fit-content;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 5px;

    &__location-icon {
      width: 24px;
      font-weight: 600;
      filter: invert(85%) drop-shadow(1px 1px 2px #242424);
    }

    &__location {
      font-size: 24px;
      color: #eaeaea;
      text-shadow: #242424 1px 1px 2px;
    }
  }

  &__current-date {
    width: fit-content;
    margin-top: 10px;
    font-size: 14px;
    color: #eaeaea;
  }

  &__temp-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
  }

  &__temperature-unit {
    margin-top: -90px;
    font-size: 40px;
    font-weight: 600;
    color: #eaeaea;
    margin-left: 5px;
    text-shadow: #242424 2px 2px 4px;
  }

  &__temperature {
    font-family: "Do Hyeon", sans-serif;
    font-size: 160px;
    font-weight: 400;
    color: #eaeaea;
    text-shadow: #242424 2px 2px 4px;
  }

  &__sunrise-sunset {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    margin-top: 2rem;
    width: fit-content;
    font-size: 16px;
    color: #eaeaea;
    border: 1px solid #888888;
    background-color: #00000040;
    border-radius: 15px;
  }

  &__min-max-temp {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
    font-size: 16px;
    color: #eaeaea;
    margin-top: 0.5rem;
    border: 1px solid #888888;
    background-color: #00000040;
    border-radius: 15px;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;

    #cancel {
      display: none;
    }

    #arrow {
      display: none;
    }

    #favorite {
      display: none;
    }
  }

  &__options-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__options-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__condition {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #bbbbbb;
    cursor: pointer;
  }

  &__menu-icon {
    width: 30px;
    filter: invert(60%);
  }

  &__condition-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #eaeaea;
  }

  &__condition-icon {
    transform: rotate(270deg);
    width: 40px;
    filter: invert(85%);
  }

  &__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    width: 300px;
    color: #eaeaea;
    border: 1px solid #888888;
    background-color: #00000040;
    border-radius: 15px;
  }

  &__detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.weather-forecast {
  border-top: 1px solid #444444;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1px;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    color: #888888;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding: 15px 15px 0 25px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: start;
    justify-content: left;
    padding: 10px 30px 0 30px;
    margin: 10px 10px 0 10px;
    height: 25%;
    gap: 2.5rem;
    scrollbar-width: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &__time {
      font-size: 14px;
      color: #888888;
    }

    &__icon {
      width: 50px;
      height: 50px;
      background-color: lightgray;
      border-radius: 25px;
    }

    &__temp {
      font-size: 20px;
      font-weight: 600;
      color: #888888;
    }
  }

  &__dayItems {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: start;

    height: 100%;
    padding: 15px 15px 15px 15px;
    gap: 15px;
  }

  &__dayItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
  }

  &__dayItem-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 90%;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 20px 20px 0 0;
    color: #555555;
    font-weight: 600;
  }

  &__dayHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
    }

    &__day {
      font-size: 16px;
      font-weight: 600;
    }

    &__tempRange {
      font-size: 14px;
      color: #888888;
    }

    &__description {
      font-size: 14px;
      color: #888888;
    }
  }

  &__dayItem-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    scrollbar-width: none;
    width: 360px;
    height: fit-content;
    border-radius: 0px 0px 25px 25px;
    border: #f0f0f0 2px solid;
  }

  &__body-details {
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    width: 100%;
    color: #555555;
  }
  &__body-detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  &__body-detail-item__icon {
    width: 50px;
    filter: invert(30%);
  }

  &__dayItem-body-divider {
    width: 340px;
    height: 1px;
    background-color: #cccccc;
    margin: 0 10px;
  }
  &__hourlyItems {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: start;
    justify-content: left;
    height: fit-content;
    padding: 25px 25px 10px 25px;
    gap: 2.5rem;
    scrollbar-width: none;
  }
}
