@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jura:wght@300..700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "loader.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

#app {
  height: 700px;
  width: 400px;
  // background-color: #1e1e1e;
  background-image: linear-gradient(to bottom, #2c2c2c, #858585);
}

.weather-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("../public/pexels.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 20px 0px 30px;

  &__ovwerview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    width: fit-content;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 5px;

    &__location-icon {
      width: 24px;
      font-weight: 600;
      filter: invert(60%);
    }

    &__location {
      font-size: 24px;
      color: #bbbbbb;
      text-shadow: #242424 1px 1px 2px;
    }
  }

  &__current-date {
    width: fit-content;
    margin-top: 10px;
    font-size: 14px;
    color: #d4d4d4;
    text-shadow: #000000 1px 1px 2px;
  }

  &__temp-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
  }

  &__temperature-unit {
    margin-top: -90px;
    font-size: 40px;
    font-weight: 600;
    color: #bbbbbb;
    margin-left: 5px;
    text-shadow: #000000 1px 1px 2px;
  }

  &__temperature {
    font-family: "Do Hyeon", sans-serif;
    font-size: 150px;
    font-weight: 400;
    color: #cfcfcf;
    text-shadow: #000000 2px 2px 4px;
  }

  &__min-max-temp {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    width: fit-content;
    font-size: 16px;
    color: #888888;
    border: 1px solid #888888;
    border-radius: 15px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__condition {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #bbbbbb;
    cursor: pointer;
  }

  &__menu-icon {
    width: 30px;
    filter: invert(60%);
  }

  &__condition-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #bbbbbb;
  }

  &__condition-icon {
    transform: rotate(270deg);
    width: 40px;
    filter: invert(60%);
  }

  &__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    width: 300px;
    color: #888888;
    border: 1px solid #888888;
    border-radius: 15px;
  }

  &__detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.weather-forecast {
  border-top: 1px solid #444444;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    color: #888888;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
}
