@mixin sticky-header-on-scroll {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 10;
  padding: 15px 20px;
  border-radius: 0 0 15px 15px;
  transition: all 0.3s ease;
}

@mixin largeScreens {
  @media (min-width: 700px) {
    @content;
  }
}
