@use "variables" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark;
  height: 100vh;
  font-family: $font-quicksand;
  color: $color-light;
}

#app {
  height: 700px;
  width: 400px;
  ::-webkit-scrollbar {
    display: none;
  }
}

.weather-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image, $linear-gradient);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $linear-gradient;
    z-index: 0;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.weather-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 20px 0px 30px;

  &__ovwerview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    width: fit-content;
    background-color: $primary-color;
    border-radius: 25px;
    padding: 8px 15px 10px 12px;
    margin-left: -5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 5px;

    &__location-icon {
      width: 24px;
    }

    &__location {
      font-size: 22px;
      font-weight: bold;
    }
  }

  &__current-date {
    width: fit-content;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $primary-color;
  }

  &__temp-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
  }

  &__temperature-unit {
    margin-top: -90px;
    font-size: 40px;
    font-weight: 600;
    color: $color-light;
    margin-left: 5px;
    text-shadow: $text-shadow-dark;
  }

  &__temperature {
    font-family: $font-do-hyeon;
    font-size: 160px;
    font-weight: 400;
    color: $color-light;
    text-shadow: $text-shadow-dark;
  }

  &__sunrise-sunset {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 15px 6px 4px;
    margin-top: 2rem;
    font-weight: 700;
    width: fit-content;
    font-size: 16px;
    color: $color-light;
    border: 1px solid rgba(136, 136, 136, 0.45);
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: $text-shadow-dark;
    backdrop-filter: blur(4px);
    border-radius: 15px;
  }

  &__sunrise-icon,
  &__sunset-icon {
    width: 40px;
    filter: invert(90%) drop-shadow(0.06em 0.06em 0.06em #242424);
  }

  &__min-max-temp {
    display: flex;
    gap: 10px;
    padding: 15px 15px;
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    color: $color-light;
    margin-top: 0.5rem;
    text-shadow: $text-shadow-dark;
    border: 1px solid rgba(136, 136, 136, 0.45);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 15px;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    gap: 1rem;

    #cancel {
      display: none;
    }

    #arrow {
      display: none;
    }

    #favorite {
      display: none;
    }
  }

  &__options-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    gap: 1rem;
  }

  &__options-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__condition {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__menu-icon {
    width: 30px;
    filter: invert(90%);
  }

  &__condition-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
    color: $primary-color;
    font-weight: bold;
  }

  &__condition-icon {
    transform: rotate(270deg);
    width: 40px;
    filter: invert(100%) drop-shadow($text-shadow-light);
  }

  &__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
    font-weight: 700;
    padding: 15px;
    width: 300px;
    color: $color-light;
    text-shadow: $text-shadow-dark;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(136, 136, 136, 0.45);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  &__detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.weather-forecast {
  border-top: 1px solid #444444;
  padding: 20px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1px;
    background-color: $color-light;
    border-radius: 15px 15px 0 0;
    color: $color-dark;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 40px 15px 0 25px;
    color: $color-dark;
  }

  &__items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: start;
    justify-content: left;
    padding: 10px 30px 0 30px;
    margin: 10px 10px 0 10px;
    height: 25%;
    gap: 2.5rem;
    scrollbar-width: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &__time {
      font-size: 14px;
      color: gray;
    }

    &__icon {
      width: 50px;
      height: 50px;
      background-color: lightgray;
      border-radius: 25px;
    }

    &__temp {
      font-size: 20px;
      font-weight: 600;
      color: $color-dark;
    }
  }

  &__dayItems {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: start;

    height: 100%;
    padding: 15px 15px 15px 15px;
    gap: 15px;
  }

  &__dayItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
  }

  &__dayItem-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 90%;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 20px 20px 0 0;
    color: #555555;
    font-weight: 600;
  }

  &__dayHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      gap: 10px;
    }

    &__day {
      font-size: 16px;
      font-weight: 600;
      color: $color-dark;
    }

    &__tempRange {
      font-size: 14px;
      color: $color-dark;
    }

    &__description {
      font-size: 14px;
      color: gray;
    }
  }

  &__dayItem-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    scrollbar-width: none;
    width: 360px;
    height: fit-content;

    border-radius: 0px 0px 25px 25px;
    border: lightgray 2px solid;
  }

  &__body-details {
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px 0 25px 0;
    width: 100%;
    color: #555555;
  }
  &__body-detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  &__body-detail-item__icon {
    width: 50px;
    filter: invert(30%);
  }

  &__body-detail-item__value {
    font-size: 14px;
    font-weight: 500;
    color: $color-dark;
  }

  &__dayItem-body-divider {
    width: 340px;
    height: 1px;
    background-color: lightgray;
    margin: 0 10px;
  }
  &__hourlyItems {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: start;
    justify-content: left;
    height: fit-content;
    padding: 25px 25px 10px 25px;
    gap: 2.5rem;
    scrollbar-width: none;
  }
}
